<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>defaultBoldFontName</key>
	<string>SF UI Text Bold</string>
	<key>defaultFontName</key>
	<string>SF UI Text</string>
	<key>defaultShadowOffset</key>
	<string>1 -1</string>
	<key>defaultTextColor</key>
	<string>controlTextColor</string>
	<key>defaultSelectedTextShadowColor@1x</key>
	<string>#00000015</string>
	<key>inputAreaAbbreviationTextColor</key>
	<string>@defaultTextColor</string>
	<key>inputAreaActionMenuAreaEdgeInsets</key>
	<string>-3 0 -2 0</string>
	<key>inputAreaBlackTextColor</key>
	<string>@defaultTextColor</string>
	<key>inputAreaAbbreviationFontName</key>
	<string>Optima</string>
	<key>inputAreaAbbreviationFontSize</key>
	<integer>10</integer>
	<key>inputAreaAbbreviationInputProgressIndicationOffset</key>
	<integer>1</integer>
	<key>inputAreaActionMenuAreaTextShadowColor</key>
	<string>#e6e6e6</string>
	<key>inputAreaActionMenuAreaTextShadowOffset</key>
	<string>@defaultShadowOffset</string>
	<key>inputAreaAutohideOffImage</key>
	<string>AutohideOffTemplate</string>
	<key>inputAreaAutohideOffImageSize</key>
	<string>16.0 16.0</string>
	<key>inputAreaAutohideOffImagePaddingLeft</key>
	<integer>6</integer>
	<key>inputAreaAutohideOffImagePaddingRight</key>
	<integer>9</integer>
	<key>inputAreaBackgroundGradient</key>
	<dict>
		<key>0.0</key>
		<string>#ebebeb</string>
		<key>0.499</key>
		<string>#e2e2e2</string>
		<key>0.5</key>
		<string>#dadada</string>
		<key>1.0</key>
		<string>#e8e8e8</string>
	</dict>
	<key>inputAreaDefocusedItemFontName</key>
	<string>@defaultFontName</string>
	<key>inputAreaDefocusedItemFontSize</key>
	<integer>13</integer>
	<key>inputAreaDimmedTextColor</key>
	<string>#808080</string>
	<key>inputAreaFocusedItemFontName</key>
	<string>@defaultBoldFontName</string>
	<key>inputAreaFocusedItemFontSize</key>
	<integer>13</integer>
	<key>inputAreaHeight</key>
	<integer>30</integer>
	<key>inputAreaIconSize</key>
	<string>16 16</string>
	<key>inputAreaKeyCapImagePaddingRight</key>
	<integer>7</integer>
	<key>inputAreaKeyCapImageSize</key>
	<string>18 18</string>
	<key>inputAreaMenuButtonImage</key>
	<string>GearWheelTemplate</string>
	<key>inputAreaMenuButtonImageSize</key>
	<string>16.0 16.0</string>
	<key>inputAreaMenuButtonPaddingRight</key>
	<integer>9</integer>
	<key>inputAreaNonKeyWindowTextShadowOffset</key>
	<string>@defaultShadowOffset</string>
	<key>inputAreaPaddingLeft</key>
	<integer>11</integer>
	<key>inputAreaShouldSmoothFonts</key>
	<true/>
	<key>inputAreaTextColor</key>
	<string>#111111</string>
	<key>inputAreaTextShadowColor</key>
	<string>#f6f6f6</string>
	<key>inputAreaTextShadowOffset</key>
	<string>@defaultShadowOffset</string>
	<key>inputAreaTitlePaddingLeft</key>
	<integer>7</integer>
	<key>inputAreaPaddingRight</key>
	<integer>16</integer>
	<key>inputAreaTitleSeparatorFontSize</key>
	<integer>12</integer>
	<key>itemListEdgeInsets</key>
	<string>0 0 0 0</string>
	<key>itemListExtraDetailsBaselineOffset</key>
	<integer>0</integer>
	<key>itemListExtraDetailsFontName</key>
	<string>@defaultFontName</string>
	<key>itemListExtraDetailsFontSize</key>
	<integer>11</integer>
	<key>itemListExtraDetailsTextColor</key>
	<string>#808080</string>
	<key>itemListGridLineHeight</key>
	<integer>0</integer>
	<key>itemListIconSize</key>
	<string>16 16</string>
	<key>itemListIconPaddingLeft</key>
	<integer>5</integer>
	<key>itemListIconPaddingRight</key>
	<integer>5</integer>
	<key>itemListLabelCircleDiameter</key>
	<integer>10</integer>
	<key>itemListLabeledExtraDetailsBackgroundColor</key>
	<string>#94b0d2</string>
	<key>itemListLabeledExtraDetailsBadgeCornerRadius</key>
	<integer>8</integer>
	<key>itemListLabeledExtraDetailsBadgeHeight</key>
	<integer>18</integer>
	<key>itemListLabeledExtraDetailsBaselineOffset</key>
	<integer>1</integer>
	<key>itemListLabeledExtraDetailsDeemphasizedBaselineOffset</key>
	<integer>0</integer>
	<key>itemListLabeledExtraDetailsDeemphasizedFontName</key>
	<string>@defaultFontName</string>
	<key>itemListLabeledExtraDetailsDeemphasizedFontSize</key>
	<integer>11</integer>
	<key>itemListLabeledExtraDetailsFontName</key>
	<string>@defaultBoldFontName</string>
	<key>itemListLabeledExtraDetailsFontSize</key>
	<integer>13</integer>
	<key>itemListLabeledExtraDetailsPadding</key>
	<integer>7</integer>
	<key>itemListLabeledExtraDetailsSelectedBackgroundColor</key>
	<string>@itemListLabeledExtraDetailsTextColor</string>
	<key>itemListLabeledExtraDetailsSelectedTextColor</key>
	<string>@itemListLabeledExtraDetailsBackgroundColor - 0.22</string>
	<key>itemListLabeledExtraDetailsTextColor</key>
	<string>whiteColor</string>
	<key>itemListNavigationArrowAreaWidth</key>
	<integer>25</integer>
	<key>itemListNavigationArrowPaddingRight</key>
	<integer>4</integer>
	<key>itemListRowHeight</key>
	<integer>24</integer>
	<key>itemListScrollerPadding</key>
	<real>2</real>
	<key>itemListSeparatorLowerLineThickness</key>
	<integer>0</integer>
	<key>itemListSeparatorUpperLineColor</key>
	<string>#888888</string>
	<key>itemListSeparatorUpperLineThickness</key>
	<real>0.5</real>
	<key>itemListSelectedSubtitleFontName@1x</key>
	<string>@itemListSubtitleFontName</string>
	<key>itemListSelectedTitleFontName@1x</key>
	<string>@itemListTitleFontName</string>
	<key>itemListSelectionCornerRadius</key>
	<integer>0</integer>
	<key>itemListSelectionHighlightColor</key>
	<string>#478BDF</string>
	<key>itemListSelectionSubsearchHighlightColor</key>
	<string>#F3BD52</string>
	<key>itemListShouldSmoothFonts</key>
	<true/>
	<key>itemListSubtitleBaselineOffset</key>
	<integer>-2</integer>
	<key>itemListSubtitleFontName</key>
	<string>@defaultFontName</string>
	<key>itemListSubtitleFontSize</key>
	<integer>11</integer>
	<key>itemListSubtitleTextColor</key>
	<string>#808080</string>
	<key>itemListTitleBaselineOffset</key>
	<integer>-1</integer>
	<key>itemListTitleDecreasedFontSize</key>
	<string>@itemListTitleFontSize * 0.9</string>
	<key>itemListTitleEmphasizedFontName</key>
	<string>@defaultBoldFontName</string>
	<key>itemListTitleFontName</key>
	<string>@defaultBoldFontName</string>
	<key>itemListTitleFontSize</key>
	<integer>13</integer>
	<key>itemListTitleIncreasedFontSize</key>
	<string>@itemListTitleFontSize</string>
	<key>itemListTitleTextColor</key>
	<string>@defaultTextColor</string>
	<key>itemListSubtitleInSeparateLine</key>
	<false/>
	<key>textInputEdgeInsets</key>
	<string>2 7 2 4</string>
	<key>textInputFieldEditorEdgeInsets</key>
	<string>2 6 1 8</string>
	<key>textInputFieldTextContainerInset</key>
	<string>0 1</string>
	<key>textInputFocusRingLineWidth</key>
	<integer>3</integer>
	<key>textInputFontName</key>
	<string>@defaultFontName</string>
	<key>textInputFontSize</key>
	<integer>12</integer>
	<key>textInputSelectedTextColor</key>
	<string>@defaultTextColor</string>
	<key>textInputShouldSmoothFonts</key>
	<true/>
	<key>textInputTextColor</key>
	<string>@defaultTextColor</string>
	<key>textInputTitleTextColor</key>
	<string>@defaultTextColor</string>
	<key>textInputTitleFontName</key>
	<string>@defaultBoldFontName</string>
	<key>textInputTitleFontSize</key>
	<integer>13</integer>
	<key>windowBackgroundColor</key>
	<string>#fafafa</string>
	<key>windowCornerRadius</key>
	<integer>0</integer>
	<key>windowDefaultWidth</key>
	<integer>430</integer>
	<key>windowDefaultVerticalPosition</key>
	<real>1</real>
	<key>windowMinimumWidth</key>
	<integer>300</integer>
	<key>windowShadowStyle</key>
	<integer>2</integer>
</dict>
</plist>
